.editor h1 {
  @apply text-2xl;
  @apply my-8;
}

.editor h2 {
  @apply text-xl;
  @apply mt-8 mb-6;
}

.editor h3 {
  @apply text-lg;
  @apply mt-8 mb-4;
}

.editor p {
  @apply text-base;
}

.editor h1, .editor h2, .editor h3 {
  @apply font-bold;
}

.editor p.is-empty::before {
	@apply text-text-secondary;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.editor ul li {
  @apply list-disc;
}

.editor ol li {
  @apply list-decimal;
}

.editor ul, .editor ol {
  @apply m-0 pl-10 outline-none;
}

.editor li {
  @apply py-[5.5px] pl-[3px] leading-[1.6em] outline-none;
}

.editor blockquote {
  @apply flex px-4 border-l-[3px] border-secondary;
}
