:root {
  /* Text color */
  --clr-text: #e2e2e2;
  --clr-text-primary: #b3b3b3;
  --clr-text-primary-hover: #d9d9d9;
  --clr-text-primary-emphasis: #e6e6e6;
  --clr-text-secondary: #b3b3b3;
  --clr-text-secondary-hover: #c6c6c6;
  --clr-text-link: #e6e6e6;

  /* Background color */
  --clr-bg: #151415;
  --clr-bg-hover: #2d2b2d;
  --clr-bg-secondary: #211f21;
  --clr-bg-secondary-hover: #454245;
  --clr-bg-on-secondary: #2d2b2d;

  /* Border colors */
  --clr-bg-border: #2d2b2d;

  /* Other colors */
  --clr-primary: #e78e1e;
  --clr-primary-hover: #eb9f40;
  --clr-secondary: #a39995;
  --clr-secondary-hover: #b1a8a5;
  --clr-accent: #E8942A;
  --clr-focus: #454245;

  /* tag colors */
  --clr-tag-blue: #004c91;
  --clr-tag-purple: #4d2b8a;
  --clr-tag-green: #1f6e32;
  --clr-tag-red: #a61c2a;
  --clr-tag-yellow: #c68f00;
  --clr-tag-orange: #c24a0a;
  --clr-tag-pink: #b82d6a;
  --clr-tag-cyan: #0e7d8a;
  --clr-tag-dark-gray: #24282b;
  --clr-tag-light-gray: #d4d6d7;
  --clr-tag-brown: #5e3f34;
  --clr-tag-default-text: #e2e2e2;


  /* Component tokens */
  --clr-modal-overlay: rgb(21, 20, 21, 0.75);
  --clr-btn-text: #151415;
  --clr-scrollbar-track: #2c2a2c;
  --clr-scrollbar-thumb: #383538;
  --clr-scrollbar-thumb-hover: #433f43;
}
