.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
