name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
    
    steps:
      - uses: actions/checkout@v5
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      
      - name: Install dependencies
        run: bun install
      
        # TODO linting
      # - name: Lint frontend
      #   working-directory: ./desktop
      #   run: bun run lint
      
      - name: Check Rust formatting
        working-directory: ./desktop/src-tauri
        run: cargo fmt --check
      
      - name: Run Rust tests
        working-directory: ./desktop/src-tauri
        run: cargo test
      
      - name: Build application
        run: bun run build
